In [2]:
import pandas as pd
import numpy as np

In [3]:
data_path = 'subset_data.csv'
data = pd.read_csv(data_path)
data.head()

,id,year,month,day_m,day_w,time,category,meta_cat,resolution,location,lat,lng,zipcode,neighborhood
0,160355997,2016,1,1,Friday,0:01,VEHICLE THEFT,BC,"ARREST, BOOKED","(37.7323312464378, -122.3783922575336)",37.732331,-122.378392,94124,Bayview
1,160899127,2016,1,1,Friday,0:01,SUSPICIOUS OCC,WC,NONE,"(37.7368469604958, -122.38490710609751)",37.736847,-122.384907,94124,Bayview
2,160002267,2016,1,1,Friday,0:30,SUSPICIOUS OCC,WC,NONE,"(37.72050645903634, -122.39036028161027)",37.720506,-122.390360,94124,Bayview
3,160000603,2016,1,1,Friday,2:18,ASSAULT,BC,"ARREST, BOOKED","(37.73748619494767, -122.38887930314718)",37.737486,-122.388879,94124,Bayview
4,166007037,2016,1,1,Friday,7:30,LARCENY/THEFT,BC,NONE,"(37.731859448263144, -122.38716770759018)",37.731859,-122.387168,94124,Bayview

In [4]:
main_df = data.drop(['year', 'time', 'category', 'meta_cat', 'location', 'zipcode', 
                        'lat', 'lng', 'resolution', 'neighborhood'], axis=1)
data_bymonth = main_df.groupby(['day_m', 'month'])
month_day_df = data_bymonth["id"].size()
month_day_df = month_day_df.unstack()
month_day_df

month,1,2,3,4,5,6,7,8,9,10,11,12
day_m,,,,,,,,,,,,
1,247.0,223.0,185.0,239.0,221.0,232.0,254.0,241.0,163.0,220.0,195.0,195.0
2,195.0,174.0,176.0,209.0,177.0,198.0,175.0,184.0,225.0,167.0,214.0,219.0
3,137.0,192.0,167.0,176.0,174.0,186.0,205.0,196.0,210.0,210.0,218.0,207.0
4,153.0,183.0,205.0,188.0,175.0,186.0,167.0,185.0,216.0,184.0,230.0,202.0
5,151.0,206.0,163.0,156.0,195.0,195.0,183.0,207.0,182.0,188.0,215.0,200.0
6,186.0,240.0,148.0,186.0,220.0,168.0,203.0,227.0,210.0,190.0,216.0,210.0
7,195.0,243.0,176.0,197.0,192.0,162.0,171.0,214.0,177.0,235.0,170.0,177.0
8,205.0,214.0,160.0,165.0,171.0,179.0,157.0,181.0,194.0,261.0,189.0,189.0
9,180.0,187.0,164.0,183.0,144.0,162.0,223.0,189.0,205.0,217.0,184.0,203.0
10,196.0,186.0,167.0,141.0,164.0,200.0,205.0,173.0,187.0,202.0,228.0,239.0
11,166.0,172.0,180.0,194.0,170.0,179.0,215.0,197.0,178.0,167.0,227.0,226.0
12,196.0,197.0,177.0,170.0,195.0,211.0,198.0,221.0,180.0,209.0,234.0,213.0
13,203.0,225.0,141.0,185.0,203.0,194.0,169.0,225.0,196.0,199.0,171.0,230.0
14,188.0,199.0,175.0,170.0,201.0,202.0,174.0,199.0,177.0,208.0,201.0,237.0
15,210.0,204.0,181.0,207.0,211.0,200.0,210.0,191.0,213.0,215.0,224.0,219.0
16,208.0,212.0,182.0,180.0,185.0,217.0,229.0,183.0,215.0,211.0,208.0,241.0
17,199.0,195.0,175.0,189.0,207.0,177.0,178.0,195.0,222.0,223.0,229.0,221.0
18,198.0,175.0,230.0,158.0,189.0,218.0,174.0,213.0,221.0,181.0,232.0,184.0
19,180.0,205.0,201.0,192.0,160.0,185.0,198.0,182.0,182.0,194.0,210.0,196.0
20,211.0,191.0,172.0,206.0,224.0,200.0,156.0,177.0,184.0,207.0,224.0,225.0
21,210.0,201.0,184.0,187.0,194.0,197.0,184.0,203.0,179.0,222.0,178.0,178.0
22,201.0,195.0,176.0,192.0,175.0,229.0,208.0,214.0,193.0,220.0,183.0,211.0
23,226.0,159.0,185.0,205.0,221.0,180.0,218.0,196.0,203.0,189.0,224.0,224.0
24,202.0,189.0,176.0,182.0,223.0,215.0,196.0,173.0,232.0,216.0,162.0,198.0
25,161.0,168.0,194.0,162.0,203.0,234.0,180.0,179.0,196.0,208.0,227.0,118.0
26,203.0,190.0,203.0,162.0,198.0,261.0,198.0,224.0,201.0,226.0,216.0,186.0
27,223.0,233.0,181.0,174.0,223.0,169.0,219.0,214.0,201.0,215.0,212.0,225.0
28,182.0,179.0,186.0,182.0,186.0,196.0,213.0,201.0,203.0,246.0,171.0,209.0
29,233.0,170.0,212.0,222.0,232.0,170.0,204.0,180.0,190.0,213.0,198.0,207.0
30,196.0,NaN,213.0,189.0,198.0,171.0,228.0,177.0,223.0,260.0,181.0,195.0
31,177.0,NaN,179.0,NaN,182.0,NaN,215.0,194.0,NaN,247.0,NaN,236.0

In [5]:
month_day_df.to_csv('incident_perday.csv', index=True, header=True)

In [6]:
data_path = 'data.csv'
data_csv = pd.read_csv(data_path)
data_csv.head()

  Date\ttotalIncident
0       20160101\t247
1       20160102\t195
2       20160103\t137
3       20160104\t153
4       20160105\t151

In [ ]:
da